<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Learn About Planets</h1>
<h2>Here you'll find out how many earth days are in each planet's year cycle.</h2>

<table class="table-striped padded">
    <tbody>
    <tr th:each="planet : ${Planets}">
        <th>Planet name: &MediumSpace; </th>
        <td th:text="${planet.name}"></td>
        <th> &MediumSpace; &MediumSpace; &MediumSpace; Earth days in a year: &MediumSpace; </th>
        <td th:text="${planet.yearLength}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>